
html{
  font-family: 'Courier New', Courier, monospace;
  //'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', //'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
  max-width: 50em;
  margin-top: 50px;
  margin-left: 400px;
  background: #F5F5F5;
}
div:focus{
  outline: none;
}

#heading{
  padding-top: 50px;
  font-size: 45px;
}
#content{
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: #383b3e;
}